/* add basic text stylings to apply to all elements */
html,
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: white;
}

/* set display flex, column wrap, add padding around all of body, add background image linear gradient, set min height 100vh */
body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    padding: 10px;
    background-image: linear-gradient(to top, rgba(13, 56, 13, 0.69), rgba(202, 207, 202, 0.42));
}

/* add background color, flex, and sizing to header element */
header {
    background-color: rgba(11, 31, 11, 0.657);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
}

/* style to group this content together with flex */
.personal-info {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/* style text, margin, and padding to main header */
h1 {
    font-size: 300%;
    margin: 10px;
    padding: 5px;
}

/* style avatar photo dimensions and rounded corners */
#avatar {
    width: 10%;
    border-radius: 125px;
}

/* set nav-links display to flex */
.nav-links {
    display: flex;
}

/* set text decoration of anchor tags to none, set margin and text align center */
.nav-links a {
    text-decoration: none;
    margin: 10px;
    text-align: center;
}

/* add hover color for nav links */
.nav-links a:hover {
    color: rgba(5, 218, 126, 0.871);
}

/* add min height to 100 vh, add display flex, align child elements to row with space evenly. */
main {
    margin: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* add flex positioning for article elements within main to make child items flow in a row with space between  */
article {
    margin:30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    font-size: 200%;
    padding: 3%;
}

/* add margin-left and right to position p, change color and text alignment*/
.about p {
    margin-left: 90px;
    margin-right: 90px;
    color: rgb(6, 46, 29);
    text-align: justify;
}

.work {
    width: 100%;
}

.boxes {
    display: flex;
}

/* add transition settings for scale transformation when hovering */
.boxes a {
    display: flex;
    transition: all .5s ease-in-out;
}

.boxes a:hover {
    transform: scale(1.2);
}

/* style section containing projects */
.box {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
}

/* set position to relative and max width so we can apply overlay element; style border radius */
.box img {
    position: relative;
    max-width: 100%;
    border-radius: 50px;
}

/* style overlay text; position aboslute and display flex to keep in position over img */
.overlay {
    background-color: rgba(9, 110, 95, 0.789);
    position: absolute;
    margin-left: 5px;
    padding: 7px;
    display: flex;
    align-self: center;
    border-radius: 100px;
}

#box-big img {
    border-radius: 50px;
    padding: 5px;
    position: relative;
}

/* style footer so it flows in row with space between content */
footer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: rgb(6, 46, 29);
    padding: 2%;
}

footer .nav-links {
    align-self: center;
}


/* adjust styling and colors for screen media max width 992 */
@media screen and (max-width: 992px) {

    /* align all header content into center of page */
    header {
        flex-flow: row wrap;
        justify-content: center;
    }

    .personal-info {
        justify-content: center;
    }

    /* align all article content to center of page */
    article {
        justify-content: center;
    }

    /* set container for projects img links to flow in row and align center */
    .boxes {
        flex-flow: row wrap;
        justify-content: center;
    }

    /* set max width to 30% for last three projects displayed */
    .box {
        max-width: 30%;
    }

    /* bring footer content closer together and aligned in center */
    footer {
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width: 390px) {

    /* change body to flow in row wrap */
    body {
        flex-flow: row wrap;
    }

    /* adjust avatar sizing and align self in center */
    #avatar {
        height: 100px;
        width: auto;
        align-self: center;
    }
    
    /* change main flow to column wrap */
    main {
        flex-flow: column wrap;
    }
    
    /* remove previous margin stylings for articles */
    article {
        margin: unset;
    }

    /* change about p margin to 10 */
    .about p {
        margin:10px;
    }

    /* set box big img width and remove previous padding stylings */
    #box-big img {
        max-width: 100%;
        padding: unset;
    }

    /* reduce overlay font size so it is smaller than the img */
    .overlay {
        font-size: 80%;
    }
    
    /* set nav-links flow to column wrap */
    footer .nav-links {
        flex-flow: column wrap;
    }
}