/* add basic text stylings to apply to all elements */
html, * {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color:white;
}

body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    padding: 10px;
    background-image: linear-gradient(to top, rgba(13, 56, 13, 0.69), rgba(202, 207, 202, 0.42));
}

/* add color, flex, and sizing to header element */
header {
    background-color: rgba(11, 31, 11, 0.657);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
}

/* style to group this content together with flex */
.personal-info {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

/* style text, margin, and padding to main header */
h1 {
    font-size: 50px;
    margin: 10px;
    padding: 5px;
}

/* style avatar photo dimensions and rounded corners */
#avatar {
    width: 10%;
    border-radius: 125px;
    flex: 0 1 10%;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    
}

.nav-links a {
    text-decoration: none;
    margin: 10px;
    align-self: baseline;
    text-align: center;
}

/* add hover color and cursor modifier for nav links */
.nav-links a:hover {
    color:rgba(5, 218, 126, 0.871);
    cursor:grab;
}

/* add height and width to full vh, add display flex, align child elements to column with space between. add linear gradient background */
main {
    margin: 20px;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content:space-evenly;
}

/* add flex positioning for article elements within main to make them align in a row with space between child items */
article {
    margin-left: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* remove h2 margin and padding to align with top of flex box */
h2 {
    font-size: 200%;
    padding: 3%;
}

/* add display flex and align element to flex-end with width to 60% to move text to right 60% of screen */
.about p {
    margin-left: 500px;
    margin-right: 80px;
    color:rgb(6, 46, 29);
    text-align: justify;
}

.work {
    width: 100%;
}

.boxes {
    position: relative;
    display: flex;
}

.boxes a {
    transition: all .5s ease-in-out;
}

.boxes a:hover {
    transform: scale(1.2);
}

.box {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    
}

 .box img {
    position: relative;
    max-width: 100%;
    border-radius: 50px;
    /* padding: 8px; */
}

.overlay {
   background-color: rgba(9, 110, 95, 0.789);
   position:absolute;
   max-width: inherit;
   bottom: 50%;
   margin-left: 5px;
   padding: 7px;
}

#box-big img{
    border-radius: 50px;
    padding:5px;
}


footer {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color:rgb(6, 46, 29);
    padding: 2%;
}
footer .nav-links {
    align-self: center;
}


/* adjust styling and colors for screen media max width 992 */
/* @media screen and (max-width: 768px) {
    header {
        background-color: rgba(40, 37, 63, 0.889);
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
    }

    #avatar {
        width:20%;
        height: 100px;
        border-radius: 125px;
        flex: 0 0 10%;
    }

    .nav-links {
        flex-flow: column wrap;
        align-items: center;
    }
    
    .nav-links a {
        text-decoration: none;
        margin: 5px;
    }

    a:hover {
        color:rgb(57, 4, 107);
        cursor:grab;
    }

    main {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: flex-start;
        background-image: linear-gradient(to top, rgba(30, 6, 40, 0.69), rgba(214, 197, 227, 0.42));
    }

    article {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        color: rgb(30, 6, 40,);
    }

    article h2 {
        display: flex;
        margin: 10px;
        padding: 10px;
   }

    .work {
        display: flex;
        flex-flow: column;
    }

    .projects {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .projects div {
        display: flex;
        flex-flow: column wrap;
        height: 100px;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
    }
   
    #box-big {
        order: -1;
        display: flex;
        align-self: center;
        background-image: url("../images/green-blur-gradient.jpg");
    }
    .side-boxes {
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .side-boxes a {
        width: 100%;
    }
} */